body {
  margin: 20px;
}

.blue-border {
  border: 1px dotted blue;
}
.card {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  text-align: center;
  border-bottom: 6px solid #d8cefe;
  background-color: #ddebf8;
  color: #2b2839;
}
.profile {
  width: 150px;
}
