.main {
  margin-top: 100px;
}

.google {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: block;
}
.search-bar {
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: block;
}
