.twitter {
  display: block;
  color: #0f1419;
  border: 1px solid #cfd9de;
  border-radius: 20px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.search-field {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-bottom: auto;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
