.main {
  margin-top: 100px;
  text-align: center;
}
.logo-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
.search-field {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.btn {

  margin-top: 30px;
  margin-bottom: auto;
  color: #0f1419;
  border: none;
  border-radius: 4px;
  background: #dfe1e5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 14px;
}
