body {
  background-color: lightgrey;
}
.bodywrap {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 50%;
  gap: 2%;
}
.main {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  width: 50%;
}
.second {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  width: 25%;
}
