body {
  font-family: "Happy Monkey";
  text-align: center;
  color: white;
  background-color: #a2d2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, p {
  text-shadow: 2px 2px black;
}
#bday-age, #bday-date {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  margin-bottom: 0px;
}
#img {
  width: 200px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
}
