body {
  margin: 0;
  color: #82a5ca;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
#spacex {
  width: 100px;
}
#hero {
  background-image: url("./images/galaxy.webp");
  background-size: cover;
  padding: 10px 0 40px 0;
}
#title {
  text-shadow: 0px 0px 4px black;
}
.btn {
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: inherit;
  color: #82a5ca;
  font-weight: bold;
}
.udr {
  border-bottom: 4px solid white;
}
.main{

}
