body {
  color: white;
  background-image: url("./images/Space Science Tech GIF by European Space Agency - ESA.gif");
  background-size: cover;
  font-family: "Orbitron", sans-serif;
}
#spacex {
  width: 100px;
}
.title {
  border: 3px dotted blue;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: inherit;
}
.udr {
  border-bottom: 4px solid white;
}
