body {
  color: #82a5ca;
  text-align: center;
  background-image: url("./images/galaxy.webp");
  background-size: cover;
  font-family: "Orbitron", sans-serif;
}
#spacex {
  width: 100px;
}
.btn {
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: inherit;
  color: #82a5ca;
  font-weight: bold;
}
.udr {
  border-bottom: 4px solid white;
}
