body {
  margin: 20px;
  font-family: Hack;
}

@keyframes myAnimation {
  from {background-color: #4a4e69;}
  to {background-color:  #f2e9e4;}
}
.border {
  border: 1px solid #f2e9e4;
}
.card {
  width: 400px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  text-align: center;
  border-bottom: 8px solid #9a8c98;
  background-color: #4a4e69;
  color: #f2e9e4;
  animation-name: myAnimation;
  animation-duration: 4s;
}
.hover:hover {
  color: #4a4e69;
  background-color: #f2e9e4;
}
.profile {
  width: 150px;
}
